body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.search-bar input {
    padding: 3px;
    width: 200px;
}

.banner {
    background-color: #f4f4f4;
    text-align: center;
    padding: 3px;
}

.banner h1 {
    margin: 0;
    font-size: 2rem;
}

.product-section {
    padding: 3px;
}

.filters {
    margin-bottom: 20px;
}

.filters select {
    margin-right: 10px;
    padding: 3px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #2c1e4a;
    padding: 3px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    width: auto;
}

.product-card h3 {
    margin: 10px 0;
}

/* Botões dos Cards */
.product-card button {
    background-color: #442063;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.product-card button:hover {
    background-color: #555;
    color: #fff;
}

.product-card button img {
    width: 16px;
    height: 16px;
}