body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.search-bar input {
    padding: 3px;
    width: 200px;
}

.banner {
    background-color: #f4f4f4;
    text-align: center;
    padding: 3px;
}

.banner h1 {
    margin: 0;
    font-size: 2rem;
}

.product-section {
    padding: 3px;
}

.filters {
    margin-bottom: 20px;
}

.filters select {
    margin-right: 10px;
    padding: 3px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 3px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    width: auto;
  
}

.product-card h3 {
    margin: 10px 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1px 0;
  text-align: center;
  font-family:'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-section {
  margin: 0 5px;
}

h4 {
  margin-bottom: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

p, a {
  margin: 0;
  font-size: 14px;
  line-height: 2; /* Ajustando o espaçamento entre linhas */
}

a {
  color: #fff;
  text-decoration: none;
}

a img {
  margin: 0 2px; /* Reduzindo a margem entre ícones */
}

a img:hover {
  opacity: 0.8;
}

.footer-bottom {
  margin-top: 1px; /* Ajustando a margem superior */
  padding-top: 1px;
  font-size: 12px;
  line-height: 1; /* Reduzindo o espaçamento entre linhas */
}
